<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@post) do |f| %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :cartype %>
      <%= f.select :cartype, options_for_select(['Limo', 'SUV Limo', 'Luxury Sedan', 'Limo Van']) %>

      <%= f.label :time %>
      <%= f.select :time, options_for_select(['Day', 'Evening']) %>

      *date picker placeholder

      <%= f.submit "Request!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>