<% provide(:title, 'New Reminder') %>
<h1>Add a reminder</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label "What happened?" %>
      <%= f.text_field :phone %>

      <%= f.label "Details:" %>
      <%= f.text_area :email, :rows => "3" %>

      <%= f.submit "Submit!!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>